<!-- [ngModel] specifies angular two-way binding -->
<!-- (ngSubmit) say run the method specified when the submit button is clicked    -->
<!-- so here when submit is clicked we run the addgambler method for this component -->
<!--    with the newgambler object that was filled in by the user                   -->
<form  id="theForm" (ngSubmit)="addGambler(newGambler)">
    <div>
        <label for="gamblerIdField">Gambler Name:</label>
        <input type="number" id="gamblerIdField" [(ngModel)]="newGambler.id" name="id"/>
    </div>
    <div>
        <label for="gamblerNameField">Gambler Name:</label>
        <input type="text" id="gamblerNameField" [(ngModel)]="newGambler.name" name="gambler_name"/>
    </div>
    <div>
        <label for="gamblerAddressField">Address:</label>
        <input type="text" id="gamblerAddressField" [(ngModel)]="newGambler.address" name="address"/>
    </div>
    <div>
        <label for="salaryField" id="salaryFieldLabel">Salary:</label>
        <input type="number" id="salaryField" 
               [(ngModel)]="newGambler.salary"
               name="monthly_salary"/>
    </div>
    <div>
        <label for="birthdayField">Birth Date:</label>
        <input type="text" id="birthdayField" [(ngModel)]="newGambler.birthDate" name="birth_date"/>
    </div>
<div id="buttonarea">
    <input class="abutton" id="submitButton" type="submit" value="Click to Submit"/> 
    &nbsp;
    <input class="abutton" 
           id="cancelButton"
           type="button" 
           value="Cancel" 
           (click) = "cancelButtonClicked()">
</div>
</form>
