<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 8</title> <!-- What is displayed on tab the browser -->
</head>
<body>
    <!-- Remember to add CommonModule to import in the Component  -->
     <!-- loop through the members and display thier informations -->
     <!--      and add a button to each member--> 
    <div *ngFor="let aMember of memberList">
        <!-- (click) = "method-in-the-component()" to handle running a method when the element is clicked-->
        <!-- Send the member on the line whose button was clicked to the method to increateReadCount --> 
        <p> {{aMember.name}} {{aMember.booksRead}} {{aMember.foundingMember}}
             <button  (click) = "increaseReadCount(aMember)">Read A Book</button>
             <button  (click) = "kickOutMember(aMember)">Kick Out Member</button></p>

    </div>
    <!-- Add a form to get new member data and add it -->
     <div>
        <!-- Tell Angular to call a method in the component.ts file to submit the form       -->
        <!-- Be sure you add FormsModule to imports in the component.ts                      -->
        <!-- [(ngModel)] = "variable-name" - two-way bind to a variable in component.ts file -->
        <!-- name="somename" - to name the element in the HTML --> 
        <form (ngSubmit) = submitForm() >
            <div>
                <label for="memberNameField">Member Name: </label>
                <input type="text" name="memberNameField" [(ngModel)] = "newMember.name"/>
            </div>
            <div>
                <label for="founderField">Founding member? </label>
                <input type="checkbox" name="founderField" [(ngModel)] = "newMember.foundingMember">
            </div>
            <div>
                <label for="booksReadField">Founding member? </label>
                <input type="number" name="bookReadFields" [(ngModel)] = "newMember.booksRead">
            </div>
            <div>
                <button type="submit">Add new Member</button>
            </div>
        </form>
    </div>
</body>
</html>