<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifing the URL path for the link            -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   

        <!-- href="/folder-path"> Name -->
        <a href="/home">Home</a>    
        &nbsp;&nbsp; <!-- &nbsp; is a blank space character the size of a space. adds between the two links on the webpage -->
        <a href="/Contact">Provide Contact Info</a>
        <a href="showSeals"> Display state seals</a>
        &nbsp;&nbsp;
        <a href="/Students">Student List</a>

    </div>
</nav>
   
