body {
    background-image: linear-gradient(to bottom, gray, lightgray); 
}

div.taskmanager-list{       /* .taskmanager-list would work as well */
    display: inline-block;  /* multi-column display */
    width: 300px;           /* fixed width column   */
    background-color:rgb(241, 150, 150); 
    border-radius: 2px; /* rounded corners */
    vertical-align: top; /* aligns box to adjacent box */
    min-height: 480px;
}

.card {                                     /* style each card in the list              */
    background-color: rgb(206, 236, 149);
    margin: 10px;                           /* spacing btn each card                    */
    height: 50px;                           /* height of each card                      */
    width: 300px;
    text-align: left;
    border-top: 1px solid blue;
    text-indent: 200px;
}

.cards {                                    /* style each item listed in a card         */
    list-style-type: none;                  /* removes the numbering from the list item */                     */ 
}


h2 {
    background-color: blueviolet;
    text-indent: 50px;
}