/* This is a comment is CSS */
/* Define formatting rules for a web page */
/* general format:  selector {
                               css rule
                               css rule
                             }
*/
html { /* style all the elements withing the html tag */
    font-size: 20px;
    color: blue;
}
    h2 { /* style all h2 elements */
    color:blueviolet;
    }
        div {               /* style all div and elements withing them */
        background-color: cornflowerblue;
        color: yellow;
    }

#sectionDiv {               /* style all elements named id="sectionDiv" */
    color: black;
}

#secondLine {               /* style the element id="secondLine" */
    background-color: deeppink;
}

span {                      /* style all span elements */
    color: orange;
    font-weight: bold;
}

.student {                  /* style all elements with class="student" */
    color:rgb(238, 109, 16);
    font-style: italic;
    border: rgb(255, 0, 0);
}

.admin {
    color: purple;
    width: 3em;             /* Set the width of the element. an em is the width of the font. */
    height: 2em;
    border-style:double;
    border-color: aqua;
    border-width: 10px;
}

ol {
    list-style: square;     /* specify identifiers for items ain the list */
}

footer {
    margin-top: 50px; 
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}